* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div {
    display: block;
}

body {
    background-image: url("../images/kidsGames.png");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-attachment:fixed;
}

#logo{
    background: url("../images/Logo.png") no-repeat;
    display: block;
    margin-left: 16px;
    background-size: contain;
    text-decoration: none;
}

#logo span{
    margin-left: 80px;
    margin-top: 20px;
    font-family: Carter One;
    font-size: 40px;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    display: flex;
}

#wrapper {
    margin: 10px auto;
    width: 90%;
}

h1{
    margin: 0 auto;
    width: 450px;
    text-align: center;
}

.p-4{
    margin: 0 auto;
    background-color: azure;
}

.table{
    background-color: azure;
}